<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
    <header>
        <h1>STORE DASHBOARD</h1>
    </header>
    <main>
        <aside>
            <nav>
                <a href="/">
                    <span><i class="bi bi-bag"></i></span>
                    <span>
                        Todos os produtos
                    </span>
                </a>
                <a href="/register">
                    <span><i class="bi bi-journal-text"></i></span>
                    <span>
                        Cadastrar um produto
                    </span>
                </a>
            </nav>
        </aside>
        {{{body}}}
    </main>
</body>

</html>